.forbidenContent{
  background-image: url('../../images/httpStates/403_forbidden.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.messageForbidden{
  /* background-color: black; */
    font-family: 'Roboto Mono', monospace;
    width: 600px;
    height: auto;
    color: white;
    font-size: 300%;
    margin-left: 45%;
    padding-top: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .spanForbidden{
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    color: #ea094cbe;
    text-shadow: 1px 1px white;
  }
  .btnLogIn{
      background-color: #ea094cbe;
      font-family: 'Roboto Mono', monospace;
      width: 25%;
      height: 32px;
      border: none;
      border-radius: 25px;
      font-size: 60%;
      color: white;
      margin-top: 5%;
    }
    .btnLogIn:hover{
      cursor: pointer;
      background-color: #ea094cd7;
    }