.contentPersonalInfo{
  /* background-color: blue; */
  width: 100%;
  height: 100%;
}
.titlePersonalInfo{
  /* background-color: blueviolet; */
  width: 100%;
  height: 33.5%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .titleChats{
    font-size: 200%;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: 7%;
  }
.imagePerfil{
  /* background-color: yellow; */
  width: 100%;
  height: 71%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .image{
    /* background-color: black; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 3%;
  }
  .name{
    font-size: 14px;
    font-weight: bold;
  }
  .skill{
    background-color: gold;
    width: fit-content;
    border-radius: 10px;
    font-size: 10px;
    font-style: italic;
    box-sizing: border-box;
    padding: 2px 5px;
  }